<ion-content>
  <div class="container"> 
    <ion-card>
      <form [formGroup]="nuevoAviso" (ngSubmit)="guardarDatos()">
        <ion-item>
          <ion-label>Aviso: </ion-label>
          <ion-input placeholder="Aviso" formControlName="aviso"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>fecha: </ion-label>
          <ion-datetime  formControlName="fecha"></ion-datetime>
          <!--<ion-datetime value="2021-10-19T05:00:00.000+00:00"></ion-datetime>-->
        </ion-item>
        <ion-item>
          <ion-label>Imagen: </ion-label>
          <ion-input type="text" placeholder="Imagen" formControlName="imagen"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tipo usuario:</ion-label>
          <ion-input type="text" placeholder="Tipo usuario" formControlName="tipoUsuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Titulo:</ion-label>
          <ion-input type="text" placeholder="Título" formControlName="titulo"></ion-input>
        </ion-item>
        <p class="ion-text-center">
          <ion-button [disabled]="!nuevoAviso.valid" type="submit">Guardar</ion-button>
        </p>
      </form>
    </ion-card>
  </div>
  
</ion-content>
