<ion-content>
  <div class="container"> 
    <ion-card> 
      <form [formGroup]="actualizarAviso"  (ngSubmit)="putForm(nuevoAvisoPut.value)">
        <ion-item>
          <ion-label>id: </ion-label>
          <ion-input type="number" formControlName="id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>aviso: </ion-label>
          <ion-input type="text" formControlName="aviso"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tipo usuario: </ion-label>
          <ion-input type="number" formControlName="tipoUsuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Fecha: </ion-label>
          <ion-datetime formControlName="fecha" display-format="DD.MM.YYYY HH:mm"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Imagen: </ion-label>
          <ion-input type="text" formControlName="imagen"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Titulo: </ion-label>
          <ion-input type="text" formControlName="titulo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Creado: </ion-label>
          <ion-datetime formControlName="creado" display-format="DD.MM.YYYY HH:mm"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Update: </ion-label>
          <ion-datetime formControlName="update" display-format="DD.MM.YYYY HH:mm"></ion-datetime>
        </ion-item>
      </form> 
    </ion-card>
    
    
  </div>
  
</ion-content>
