<ion-content>
    <div class="main_content_div">
      <ion-buttons slot="start" class="menu_btn">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
  
      <div class="user_div">
        <div class="first_div">

          <ion-label class="username">Josué Zahir</ion-label>
        </div>
        <div class="user_back" [style.backgroundImage]="'url(assets/foto1.jpeg)'"></div>
        <ion-button extend="full"
          (click)="abrirModal()"
        >
        crear aviso POST
        </ion-button>
        
      </div>
  
      <div class="content_div ">
        <ion-label class="h_lbl">Avisos</ion-label>
  
        <ion-grid fixed>
          <ion-card color="primary" *ngFor="let aviso of avisos" class="hide-xs hide-sm">
            <ion-card-header>
              <ion-col>id</ion-col>
              <ion-col>avisos</ion-col>
              <ion-col>tipoUsuario</ion-col>
              <ion-col>fecha</ion-col>
              <ion-col>imagen</ion-col>
              <ion-col>titulo</ion-col>
              <ion-col>creado</ion-col>
              <ion-col>update</ion-col>
              <ion-col>delete</ion-col>
            </ion-card-header>
            <ion-card-content >
              <ion-col size="12" size-lg="3" size-md="4" size-sm="6">{{aviso.id}}</ion-col>
              <ion-col size="12" size-lg="3" size-md="4" size-sm="6">{{aviso.aviso}}</ion-col>
              <ion-col size="12" size-lg="3" size-md="4" size-sm="6">{{aviso.tipoUsuario}}</ion-col>
              <ion-col size="12" size-lg="3" size-md="4" size-sm="6">{{aviso.fecha}}</ion-col>
              <ion-col size="12" size-lg="3" size-md="4" size-sm="6">{{aviso.imagen}}</ion-col>
              <ion-col size="12" size-lg="3" size-md="4" size-sm="6">{{aviso.titulo}}</ion-col>
              <ion-col size="12" size-lg="3" size-md="4" size-sm="6">{{aviso.update}}</ion-col>
              <ion-col size="12" size-lg="3" size-md="4" size-sm="6">
                <ion-button color="warning" (click)="abrirModal2(aviso.id)" >PUT</ion-button>
              </ion-col>
              <ion-col size="12" size-lg="3" size-md="4" size-sm="6">
                  <ion-button color="danger" >Eliminar</ion-button>
              </ion-col>
            </ion-card-content>
          </ion-card>
        </ion-grid>
  
      </div>
  
    </div>
  </ion-content>
