ion-content{
    --background: linear-gradient( to right , #314b70, #566ba3);
  }
  
  .main_content_div{
    width: 100%;
  
    .menu_btn{
        position: relative;
        top: 40px;
        left: 10px;
    }
  
    .ion-label{
        display: block;
        color: #b91d73;
        text-align: center;
    }
  
    .user_div{
        padding:20px;
        width: 100%;
        height: 260px;
        background: linear-gradient( to right , #314b70, #566ba3);
        display: flex;
        padding-top: 40px;
        justify-content: space-between;
  
        .first_div{
            padding-top: 35px;
            .welcome{
                font-size: 18px;
                color: white;
                font-weight: 500;
            }
  
            .username{
                font-size: 24px;
                color:white;
                font-weight: 600;
            }
        }
  
        .user_back{
            height: 100px;
            width: 80px;
            border: 3px solid white;
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 7px;
        }
    }
  
    .content_div{
        background: rgb(90, 116, 204);
        width: 100%;
        border-top-right-radius: 75px;
        margin-top: -90px;
        padding-top: 30px;
  
        .h_lbl{
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 10px;
            padding-left: 5px;
            margin-top: 10px;
        }
  
        .ion-grid{
            padding: 0px;
        }
  
        .col_div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center; 
            height: 150px;
        }
    }
  }
  
  #container a {
    text-decoration: none;
  }